body {
    margin: 0;
    width: max-content;
}

.odd {
    background: linear-gradient(to bottom,
white, white 12.5%,
black 12.5%, black 25%,
white 25%,  white 37.5%,
black 37.5%,  black 50%,
white 50%,  white 62.5%,
black 62.5%,  black 75%,
white 75%,  white 87.5%,
black 87.5%,  black 100%);
    height: 100vmin;
    width: 12.5vmin;
    float: left;
}

.even {
    background: linear-gradient(to top,
white, white 12.5%,
black 12.5%, black 25%,
white 25%,  white 37.5%,
black 37.5%,  black 50%,
white 50%,  white 62.5%,
black 62.5%,  black 75%,
white 75%,  white 87.5%,
black 87.5%,  black 100%);
    height: 100vmin;
    width: 12.5vmin;
    float: left;
}
