.each {
	float: inherit;
	margin: 4px;
}

.each-a {
	margin: 4px;
	float: right;
}

.each-b {
	float: left;
	margin: 4px;
}

.each-c {
	float: right;
	margin: 4px;
}

.each-a4 {
	float: inherit;
	margin: 4px;
}

.each-b4 {
	float: left;
	margin: 4px;
}

.each-c4 {
	float: right;
	margin: 4px;
}

#task-9 {
	width: 48px;
	float: left;
	display: inline;
	clear: both;
}

.to-the-right {
	float: right;
}

.to-the-left {
	float: left;
}
