body {
	width: 1010px;
}

hr {
	border: none; /* Убираем границу для браузера Firefox */
    color: black; /* Цвет линии для остальных браузеров */
    background-color: black; /* Цвет линии для браузера Firefox и Opera */
    height: 2px;
    	margin-left: 30px;
	margin-right: 30px;
}

.dawn {
		border: none; /* Убираем границу для браузера Firefox */
    color: #cccccc; /* Цвет линии для остальных браузеров */
    background-color: #cccccc; /* Цвет линии для браузера Firefox и Opera */
    height: 2px;
    	margin-left: 30px;
	margin-right: 30px;
}

#header {
	display: inline-block;
	width: 100%;
	margin-left: 30px;
	margin-right: 30px;
}

#sidebar {
	display: block;
	widows: 100%;
	float: left;
	margin-left: 30px;
		margin-right: 0px;
}

#main {
	display: block;
	width: 750px;
	float: right;
	margin-right: 30px;
	margin-left: 0px;
}

#footer {
	display: inline-block;
	width: 100%;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
}

#slider {
	display: block;
	width: 800px;
	float: left;
	margin-left: 0px;
	margin-right: 0px;
}

#news {
	display: block;
	width: 850px;
	float: left;
	margin-left: 0px;
	margin-right: 0px

}

#d1 {
	width: 120px;
	height: 110px;
	margin-right: 25px;
}

#d2 {
	width: 250px;
	height: 110px;
		margin-right: 25px;

}

#d3 {
	width: 510px;
	height: 110px;

}

#d4 {
	width: 180px;
	height: 330px;
}

#d5 {
	width: 750px;
	height: 210px;
}

.d6 {
	width: 130px;
	height: 150px;
	float: left;
	margin-right: 15px;
}

#d7 {
	width: 180px;
	height: 130px;
	position: relative;
	top: 330px;
}

.d8 {
	width: 350px;
	height: 200px;
	float: left;
	margin-right: 40px;
}

.d9 {
	width: 350px;
	height: 200px;
	float: left;
}

.d10 {
	width: 300px;
	height: 180px;
	float: left;
		margin-right: 20px;
}

.d11 {
	width: 300px;
	height: 180px;
	float: left;
}

.d12 {
	width: 300px;
	height: 75px;
	float: left;
	margin-bottom: 20px;
}

.d13 {
	width: 300px;
	height: 75px;
	float: left;
}

#d1, #d2, #d3 {
	float: left;
}

#d1, #d2, #d3, #d4, #d7, .d10, .d11, .d12, .d13 {
	background-color: #666666;
}

#d5, .d6, .d8, .d9 {
	background-color: #cccccc;
}


div {
	margin: 10px;
}

hr {
	width: 100%;
	color: gray;
}